::selection {
  background: rgb(83, 82, 82);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;
  cursor: none;
  background: black;
  font-family: "JetBrains Mono", "Helvetica", monospace;
  font-size: 1em;
  color: white;
}

.funnybgcontainer {
  height: 100%;
  background-image: url("imgs/Slumk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  opacity: 0.8;
}

section#hoverable {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

a#hoverlink {
  transition: transform 500ms ease;
}
a#hoverlink:hover {
  transform: scale(1.6);
}

.cursor {
  pointer-events: none;
}

.cursorcircle {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 100;
}

circle {
  fill: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.navitem {
  align-items: center;
  justify-content: center;
}

@media (pointer: none), (pointer: coarse) {
  .cursor {
    display: none;
  }
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header li#topbarlinks {
  transform: translateY(-50%);
}

header li.activeButton {
  background-color: #212121;
  border-radius: 20px;
  border-color: #212121;
  border: 40px 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px rgb(26, 56, 95);
}

#title {
  margin-right: auto;
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: rgb(203, 200, 200);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.container {
  display: grid;
  width: 100%;
  height: 90%;
  margin-top: auto;
  grid-template-areas:
    "txt1 txt1 txt1 . ."
    ". txt2 txt2 txt2 ."
    ". . txt3 txt3 txt3";
  grid-template-columns: repeat(1fr, 5);
  grid-template-rows: repeat(1fr, 3);
}

.maintext {
  font-size: 6em;
  justify-self: center;
  text-decoration: underline;
  align-self: center;
}

.maintext.one {
  grid-area: txt1;
}

.maintext.two {
  grid-area: txt2;
}

.maintext.three {
  grid-area: txt3;
}

.contactButton:link,
.contactButton:visited {
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.contactButton:hover,
.contactButton:active {
  background-color: #b2dfdb;
  color: black;
  border: 2px solid #b2dfdb;
}

.bgtextcontainer {
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding: 150px 0px;
  opacity: 0;
  text-align: center;
}

.bgtextcontainer p {
  background-color: white;
  color: black;
}